<project-navigation (projectEvent)="setProject($event)"></project-navigation>
<div *ngIf="project" class="container">
    <div class="row justify-content-center mb-2">
        <div class="col-12 padding-0">
            <button (click)="openAddPostDialog()" class="btn btn-outline-dark btn-sm mt-2">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 padding-0">
            <project-post [projectPost]="projectPost" *ngFor="let projectPost of projectPosts"></project-post>
            <div *ngIf="projectPosts && projectPosts.length === 0" class="text-muted">
                No posts
            </div>
        </div>
    </div>
</div>
