<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="modal-header ">
        <h4 class="modal-title">Add new user</h4>
    </div>
    <div class="modal-body"> 
        <div class="form-group">
            <label class="col-form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>

            <label class="col-form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Invalid format</div>
            </div>

            <label class="col-form-label">First name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
            </div>
        
            <label class="col-form-label">Lastname</label>
            <input type="text" autocomplete="off" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Lastname is required</div>
            </div>

            <label class="col-form-label">Role</label>
            <select formControlName="role" class="custom-select" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <option value="1">User</option>
                <option value="0">Administrator</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Lastname is required</div>
            </div>

            <label class="col-form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" autocomplete="off" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.tooShort">Password must be at least 8 characters long</div>
                <div *ngIf="f.password.errors.noLowerCase">Password must contain at least one lower case character</div>
                <div *ngIf="f.password.errors.noUpperCase">Password must contain at least one upper case character</div>
                <div *ngIf="f.password.errors.noSpecialCharacterOrDigit">Password must contain at least one digit or special character</div>
            </div>

            <label class="col-form-label">Confirmation password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" autocomplete="off" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" [ngClass]="{ 'is-invalid': submitted && userForm.errors }">
            <div *ngIf="submitted && userForm.errors" class="invalid-feedback">
                <div *ngIf="userForm.errors.notSame">Password and confirmation password do not match</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-dark" type="submit">
            <i *ngIf="!loading" class="fas fa-plus"></i>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
        </button>
        <button type="submit" class="btn btn-outline-dark" (click)="activeModal.close()">
            <i class="fas fa-times"></i>
            Cancel
        </button>
    </div>
</form>