<nav *ngIf="project" class="navbar-expand-md">
    <ul class="navbar-nav nav-tabs container" role="tablist">
        <li class="nav-item">
            <a class="nav-link" [class]="{'active' : page=='project_wall' }" [routerLink]="'../project_wall'">Project wall</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class]="{'active' : page=='product_backlog' }" [routerLink]="'../product_backlog'">Product backlog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class]="{'active' : page=='sprint_backlog' }" [routerLink]="'../sprint_backlog'">Sprint backlog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class]="{'active' : page=='sprints' }" [routerLink]="'../sprints'">Sprints</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class]="{'active' : page=='future_releases' }" [routerLink]="'../future_releases'">Future releases</a>
        </li>
        <li class="nav-link ml-auto">
            <a>Project: {{ project.name }}</a>
        </li>
    </ul>
</nav>